.main-header{
  background: #645394;

  *{
    color: #ffffff;
  }

  a{
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 3px solid transparent;

    &:first-of-type{
      border-bottom: 3px solid transparent;
    }

    &:hover{
      border-bottom: 3px solid #333333;
    }
  }
}
